

/* Hasta aqui es los estilos de la cabecera */

/* estilos carrito */
.header-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}
.header-section div{
    position: relative;
}
.header-section p{
    position: absolute;
    top: -24px;
    right: -8px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: rgb(47, 8, 8);
    font-weight: 700;
    font-family: system-ui;
    line-height: 18px;
}
.carrito{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
    z-index: 9999;
    
    
} 
.carrito div{
    position: relative;
}
.carrito p{
    position: absolute;
    top: -24px;
    right: -8px;
    background-color: #f7f7f7;
    padding: 1px 6px;
    border-radius: 50%;
    color: red;
    font-weight: 700;
    font-family: system-ui;
    line-height: 18px;
}
.logo{
    width: 164px;
    height: 84px;
    cursor: pointer;
}

.cart{
    width: 39px;
    height: 38px;
}


.cart-products img {
    max-width: 100px; /* Establecer el ancho máximo de las imágenes */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    margin-bottom: 5px; /* Agregar un pequeño espacio entre las imágenes */
  }
  
.cart-products {
    font-size: 12px; /* Reducir el tamaño de la fuente */
    padding: 5px; /* Reducir el espacio interno */
    max-height: calc(100vh - 200px); /* Mantener la altura máxima relativa al tamaño de la ventana */
    overflow-y: auto; /* Barra de desplazamiento vertical si el contenido excede la altura */
}
  
.cart-products h3 {
    margin-top: 10px; /* Reducir el margen superior de los títulos */
    font-size: 14px; /* Reducir el tamaño de fuente de los títulos */
}
  
.cart-products p {
    margin-bottom: 5px; /* Reducir el espacio entre párrafos */
}
  
.cart-products .close-btn {
    font-size: 10px; /* Reducir el tamaño de fuente del botón de cierre */
    padding: 2px 6px; /* Reducir el espacio dentro del botón de cierre */
}
  
.cart-products .card-items {
    margin-top: 10px; /* Reducir el espacio entre los elementos del carrito */
}
  
  .cart-products .price-total {
    font-size: 16px; /* Ajustar el tamaño de fuente del total */
}
    

.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}

  /* pagina principal */
.nav2{
    display: flex;
    list-style: none;
    justify-content: center; 
    
}

.imagenPrincipal{
    display: flex;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.contenedorImagenPrincipal{
    display: flex;
    width: 100%;
    height: 700px;
    position: relative;
}

.carts {
    margin: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    grid-column: span 1; /* Ocupa una columna completa */
    grid-row: span 1; /* Ocupa una fila completa */
    margin-bottom: 20px; /* Agrega margen entre las tarjetas */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    position: relative;
    text-align: center;
    background: rgb(237, 235, 235);
    
}

.carts img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    transform: translateY(100%);
}

.carts:hover img {
    transform: translateY(-20px);
}

.carts h3 {
    margin-top: 20px; 
    transition: transform 0.3s ease; 
}

.carts:hover {
    transform: translateY(-10px); 
}

.carts:hover h3 {
    transform: translateY(-10px); 
}

.carts:hover .overlay {
    transform: translateY(0);
}

.overlay button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #bb260b;
    border: none;
    color: white;
    cursor: pointer;
}

.overlay button:hover {
    background-color: #ba4d4d;
}

.description-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    color: white;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.description-content.active {
    transform: translateY(0);
}

/* Consulta de medios para dispositivos pequeños */
@media (max-width: 768px) {
  .products {
      grid-template-columns: repeat(2, 1fr); 
  }
  .contenedorImagenPrincipal{
    height: 500px;
  }

}
