.login-registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b1b6c7;
    background: linear-gradient(to right, rgb(183, 60, 60),#943737, #4e4848, #917181);
    background-size: 400%;
    animation: fondo-anim 5s infinite alternate;
  }
  
  .logo-container {
    margin-left: 270px;
  }
  
  .linea-vertical {
    border-left: 2px solid #ccc;
    height: 80%;
    margin: 0 20px;
  }
  
  .login-section,
  .registro-section {
    background-color: #c47f7f;
    width: 45%;
    padding: 20px;
    height:  40%;
    border: 1px solid #c58484;
    border-radius: 5px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ad6565;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #bd3c3c;
  }
  
  @media (max-width: 768px) {
    .login-registro-container {
      flex-direction: column;
    }
  
    .login-section,
    .registro-section {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .linea-vertical {
      display: none;
    }
  
    .logo-container {
      margin-bottom: 20px;
    }
  }
  